bin/
build/
.gradle/
out/
*/src/main/gen/
*/src/main/antlr/gen
.idea/
.project
.classpath
.settings/
.vscode/
.DS_Store
**/node_modules/
IDE.properties
# ASDF https://asdf-vm.com/
.tool-versions
.aider*
/worktrees
rewrite-gradle-tooling-model/model/src/main/resources/test-manifest.txt
.nvmrc
