# https://projectlombok.org/features/configuration
config.stopBubbling = true
lombok.copyableAnnotations += org.intellij.lang.annotations.Language
lombok.addNullAnnotations = CUSTOM:org.openrewrite.internal.lang.NonNull:org.openrewrite.internal.lang.Nullable
lombok.copyableAnnotations += org.openrewrite.internal.lang.Nullable
lombok.copyableAnnotations += org.openrewrite.internal.lang.NonNull
