# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# JetBrains Rider
.idea/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Test results
TestResults/
*.trx

# OS generated
.DS_Store
Thumbs.db
