global:
  scrape_interval: 2s
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'integ-tests'
    metrics_path: '/prometheus'
    static_configs:
      - targets: ['10.200.10.1:8080']
