# Exclude Java output directories
/build/
/out/
/src/main/java/
/src/test/java/
*gradle*

# Exclude TypeScript source files
/src/main/javascript/

# Exclude test source files
/src/test/javascript/
/dist/test/

# Exclude development dependency files
/node_modules
tsconfig*.json
jest.config.js
*.tsbuildinfo

# Exclude local config files
.env
node_modules/

# Exclude other unnecessary files
/.git
.gitignore
/.idea/
.editorconfig
.eslintrc.js
.prettierrc
*.log
