node.BasicBlock {
    fill-color: #f0f0f0;
    text-color: blue;
    text-size: 15;
    shape: box;
    size: 50px;
}

node.ConditionNode {
    fill-color: #f0f0f0;
    text-color: blue;
    text-size: 15;
    shape: circle;
    size: 50px;
}

node.StartEnd {
    fill-color: #f0f0f0;
    text-color: blue;
    text-size: 15px;
    shape: cross;
    size: 50px;
}

edge.BranchTrue {
    fill-color: #14d914;
    text-color: #7c8000;
    text-size: 15px;
}

edge.BranchFalse {
    fill-color: #c9a6a6;
    text-color: red;
    text-size: 15;
}

sprite {
    fill-mode: none;
    text-size:12;
    size-mode: fit;
}
