graph {
    fill-color: black;
}

edge {
    fill-color: grey;
    /*size: 5px;*/
    arrow-size: 20px, 5px;
    arrow-shape: arrow;
}

node {
    text-offset: 10px;
}

node.BasicBlock {
    fill-color: #f0f0f0;
    text-color: blue;
    text-size: 15;
    shape: box;
    size-mode: fit;
}

node.ConditionNode {
    fill-color: #f0f0f0;
    text-color: blue;
    text-size: 15;
    shape: diamond;
    size-mode: fit;
    text-offset: 20px;
    text-alignment: center;
}

node.Start {
    fill-color: #f0f0f0;
    text-color: blue;
    text-size: 15px;
    shape: circle;
    size: 75px;
}

node.End {
    fill-color: #f0f0f0;
    text-color: blue;
    text-size: 15px;
    shape: cross;
    size: 75px;
}

edge.BranchTrue {
    fill-color: #f2fa03;
    text-size: 20;
    text-style: bold;

}

edge.BranchFalse {
    fill-color: #ef3636;
    text-size: 20;
    text-style: bold;
}

sprite.TrueLabel {
    text-color: #f2fa03;
    text-size: 20;
    text-style: bold;
}

sprite.FalseLabel {
    text-color: #ef3636;
    text-size: 20;
    text-style: bold;
}
